<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687256399723-072fst5pmdumsv7nc0vbkg4b0blo4me7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687256399723-072fst5pmdumsv7nc0vbkg4b0blo4me7</string>
	<key>API_KEY</key>
	<string>AIzaSyBx8-A5EQm3qwKUx-r5J5YDidScQBRLijA</string>
	<key>GCM_SENDER_ID</key>
	<string>687256399723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.harbour.app</string>
	<key>PROJECT_ID</key>
	<string>hs-app-65209</string>
	<key>STORAGE_BUCKET</key>
	<string>hs-app-65209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687256399723:ios:0fb266617a2bb8b675e62e</string>
</dict>
</plist>